<!--<div>帖子详情</div>-->
<div class="main layui-clear">
    <div class="wrap">
        <div class="content detail">
            <div class="fly-panel detail-box">
                <h1>基于 layui的轻量级问答社区页面模版 V2版本</h1>
                <div class="fly-tip fly-detail-hint"><span class="fly-tip-stick">置顶帖</span> <span class="fly-tip-jing">精帖</span>
                    <span>未结贴</span>
                    <div class="jie-admin-box" data-id="5366"></div>
                    <div class="fly-list-hint"><a href="#comment"><i class="iconfont" title="回答"></i> 98</a> <i
                            class="iconfont" title="人气"></i> 43250
                    </div>
                </div>
                <div class="detail-about"><a class="jie-user" href="/u/168/"> <img
                        src="//cdn.layui.com/avatar/168.jpg?t=1490352249902" alt="贤心"> <cite> 贤心 <em>发布于2016-11-25</em>
                </cite> </a>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="5366"><span style="color:#FF7200">悬赏：5飞吻</span>
                    </div>
                </div>
                <div class="detail-body photos">

                </div>

            </div>
            <div class="fly-panel detail-box">
                <div class="jieda photos">
                    <ul class="jieda">
                        <li class="jieda-daan">
                            <div class="detail-about detail-about-reply">
                                <a class="jie-user" href="#">
                                    <img src="//cdn.layui.com/avatar/336.jpg?t=1493709104721" alt="纸飞机" layer-index="1">
                                    <cite> <i>纸飞机</i> <em style="color:#5FB878">(管理员)</em> </cite> </a>
                                <div class="detail-hits"><span>2016-10-15 02:38:20</span></div>
                                <i class="iconfont icon-caina" title="最佳答案"></i>
                            </div>
                            <div class="detail-body jieda-body">
                                评论内容
                            </div>
                            <div class="jieda-reply">
                                <span class="jieda-zan " type="zan"><i class="iconfont icon-zan"></i><em>10</em></span>
                                <span type="reply"><i class="iconfont icon-svgmoban53"></i>回复</span>
                            </div>
                        </li>
                        <li>
                            <div class="detail-about detail-about-reply"><a class="jie-user" href="#"> <img
                                    src="http://res.layui.com/images/fly/avatar/8.jpg" alt="辛苦d猿" layer-index="2">
                                <cite><i>辛苦d猿</i> </cite> </a>
                                <div class="detail-hits"><span>2016-11-07 15:20:15</span></div>
                            </div>
                            <div class="detail-body jieda-body"> 已关注
                                <img alt="[微笑]" title="[微笑]" src="http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/5c/huanglianwx_thumb.gif" layer-index="3">
                            </div>
                            <div class="jieda-reply">
                                <span class="jieda-zan " type="zan"><i class="iconfont icon-zan"></i><em>5</em></span>
                                <span type="reply"><i class="iconfont icon-svgmoban53"></i>回复</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>