.full-container
  margin: 0
  background-color: rgb(225, 225, 225)
  @media (max-width: 979px)
  height: 700px
  .register-content
    margin: 20px 0 0 20px
    background-color: white
    max-width: 620px
    .register-input,.register-btn
      @media (max-width: 979px)
      margin: 20px 120px 20px 100px
    .register-btn
      text-align: center
      .btn
        color: $colDefault
        background-color: $theme-color
        &:hover,&:focus
          color: $colDefault
          background-color: $transition-color






