<div class="full-container">
<div class="register-content">
    <div class="input-group register-input">
        <span class="input-group-addon">用户名</span>
    <input class="form-control" ng-model="user.username">
   </div>
    <div class="input-group register-input">
        <span class="input-group-addon">密 码</span>
        <input type="password" class="form-control" ng-model="user.password">
    </div>
    <div class="register-btn">
      <button class="btn btn-default" ng-click="rigister()">注册</button>
    </div>
</div>
</div>
